html {
    background-color: black;
}

img {
    width: 350px;
    height: 525px;
    border: 5px solid;
    border-color: white;
    border-radius: 5px;
}

h2 {
    color: white;
    text-transform: capitalize;
    width: 100%;
    font-family: "Playwrite CL";
}

li {
    color: white;
    margin-left: 20px;
    font-size: 15px;
    font-family: "Playwrite CL";
}

div {
    margin-left: 40%;
    width: 50%;
}

p {
    margin: 0px
}